<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body>
    <header class="hero">
            <div class="hero-wrapper container">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo"></a>
                <div class="hero-search">
                    <form action="/" method="POST">
                        <input type="search" placeholder="Busacar productos, marcas" class="hero-search-imput">
                        <button class="hero-search__submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav class="hero-wrapper-menu container">
                <ul class="menu">
                    <li><a href="#" class="hero-menu left">Ofertas</a></li>
                    <li><a href="#" class="hero-menu left">Tiendas Oficiales</a></li>
                    <li><a href="#" class="hero-menu left">Vender</a></li>
                    <li><a href="#" class="hero-menu left">Ayuda</a></li>
                </ul>
                <ul class="menu">
                    <li><a href="/register.html"  class="hero-menu right">Creá tu cuenta</a><i class="fas fa-id-card"></i></li>
                    <li><a href="#"  class="hero-menu right">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#"  class="hero-menu right">Mis Compras</a> <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="hero__burger-menu"><i class="fas fa-bars"></i></div>
    </header>
    <main>
        <section class="banner-home">
            <img src="/images/img-home-banner.jpg" alt="Home Banner">
        </section>

        <section id="ultimas" class="container">
            <h2 class="title-home">Basado en la última visita</h2>
            <div class="products-last-view">

                <article class="product">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="img-product">
                    <div class="product-price">
                        <p class="price">$6.770</p>
                        <p class="discounts">40% OFF</p>
                        <div class="product-delivery">
                            <div class="product-delivery-icon"><i class="fas fa-truck"></i></div>
                        </div>
                    </div>
                    <h3>Cafetera Moulinex</h3>
                </article>

                <article class="product">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="img-product">
                    <div class="product-price">
                        <p class="price">$70.500</p>
                        <p class="discounts">10% OFF</p>
                        <div class="product-delivery">
                            <div class="product-delivery-icon"><i class="fas fa-truck"></i></div>
                        </div>
                    </div>
                    <h3>Samsung Galaxy S10</h3>
                </article>

                <article class="product">
                    <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 20190" class="img-product">
                    <div class="product-price">
                        <p class="price">$230.000</p>
                        <p class="discounts">20% OFF</p>
                        <div class="product-delivery">
                            <div class="product-delivery-icon"><i class="fas fa-truck"></i></div>
                        </div>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>
                </article>

                <article class="product">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="img-product">
                    <div class="product-price">
                        <p class="price">$23.200</p>
                        <p class="discounts">5% OFF</p>
                        <div class="product-delivery">
                            <div class="product-delivery-icon"><i class="fas fa-truck"></i></div>
                        </div>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>
                </article>

            </div>
        </section>
        
        <section id="ofertas" class="container">
            <h2 class="title-home">Sección de Ofertas</h2>
            <div class="products-last-view">

                <article class="product">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" class="img-product">
                    <div class="product-price">
                        <p class="price">$6.770</p>
                        <p class="discounts">40% OFF</p>
                        <div class="product-delivery">
                            <div class="product-delivery-icon"><i class="fas fa-truck"></i></div>
                        </div>
                    </div>
                    <h3>Cafetera Moulinex</h3>
                </article>

                <article class="product">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" class="img-product">
                    <div class="product-price">
                        <p class="price">$70.500</p>
                        <p class="discounts">10% OFF</p>
                        <div class="product-delivery">
                            <div class="product-delivery-icon"><i class="fas fa-truck"></i></div>
                        </div>
                    </div>
                    <h3>Samsung Galaxy S10</h3>
                </article>

                <article class="product">
                    <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 20190" class="img-product">
                    <div class="product-price">
                        <p class="price">$230.000</p>
                        <p class="discounts">20% OFF</p>
                        <div class="product-delivery">
                            <div class="product-delivery-icon"><i class="fas fa-truck"></i></div>
                        </div>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>
                </article>

                <article class="product">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" class="img-product">
                    <div class="product-price">
                        <p class="price">$23.200</p>
                        <p class="discounts">5% OFF</p>
                        <div class="product-delivery">
                            <div class="product-delivery-icon"><i class="fas fa-truck"></i></div>
                        </div>
                    </div>
                    <h3>SmartTv Samsung 43"</h3>
                </article>

            </div>
        </section>
        
    </main>
    <footer>
        <div class="footer-widget">
            <i class="fas fa-credit-card footer__icon"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footer-widget">
            <i class="fas fa-gift footer__icon"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer-widget">
            <i class="fas fa-user-shield footer__icon"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegida.</p>
        </div>
        <div class="copyright">
            <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </div>
        
    </footer>   
</body>
</html>