<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        
</head>
<body>
    <header>
        <div class="hero">
            <div>
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" style="width: 250px;">
                <input type="text" placeholder="Busacar productos">
                <input type="button">
            </div>
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="#">Creá tu cuenta</a></li>
                    <li><a href="#">Ingresá</a></li>
                    <li><a href="#">Mis Compras</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <img src="/images/img-home-banner.jpg" alt="Home Banner" style="width: 600px;">
            <h2>Basado en la última visita</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div>
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div>
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </div>
        </section>
        <section>
            <h2>Sección de Ofertas</h2>
            <div>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div>
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </div>
            <div>
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 20190">
                <div>
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <h3>MacBook Pro 20190</h3>
                </div>
            </div>
            <div>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div>
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <h3>Samsung Galaxy S10</h3>
                </div>
            </div>
            <div>
                <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                <div>
                    <p>$23.200</p>
                    <p>5% OFF</p>
                    <h3>SmartTv Samsung 43"</h3>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </div>
        <div>
            <p> <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </div>
        
    </footer>
    
</body>
</html>