<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - Mercado Liebre</title>
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body>
    <header class="hero">
            <div>
                <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" style="width: 250px;">
                    <div>
                        <form action="" method="POST">
                            <input type="search" placeholder="Busacar productos">
                            <button class="hero-search__submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                
            </div>
            <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            <nav>
                <ul class="menu">
                    <li><a href="#" class="hero-menu">Ofertas</a></li>
                    <li><a href="#" class="hero-menu">Tiendas Oficiales</a></li>
                    <li><a href="#" class="hero-menu">Vender</a></li>
                    <li><a href="#" class="hero-menu">Ayuda</a></li>
                </ul>
                <ul class="menu">
                    <li><a href="#"  class="hero-menu">Creá tu cuenta</a></i><i class="fas fa-id-card"></i></li>
                    <li><a href="#"  class="hero-menu">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#"  class="hero-menu">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="hero__burger-menu"><i class="fas fa-bars"></i></div>
    </header>
    <main>
    </main>
    <footer>
        <div class="footer-widget">
            <i class="fas fa-credit-card footer__icon"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footer-widget">
            <i class="fas fa-gift footer__icon"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="footer-widget">
            <i class="fas fa-user-shield footer__icon"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegida.</p>
        </div>
        <div>
            <p> <strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
        </div>
        
    </footer>
    
</body>
</html>