
/*
Colors: Amarillo: #EAC926; Azul: #03264C; Celeste: #1259c3; Gris oscuro: #666; Gris claro: #ebebeb; Verde: #39b54a;
Font size: Cuerpos de texto: 12px | Titulares: 24px | Precios: 18px | Descuentos: 16px | Descripciones: 16px
*/

body {
    font-family: Roboto, serif;
    font-size: 12px;
    color:#666666;
    margin: 0;
    background-color: #ebebeb;
}

h3 {
    font-weight: normal;
    margin:0;
}

h4 {
    font-size: 18px;
    margin: 0;
}

footer {
    background-color: #ffffff;
    padding-top: 20px;
}

input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

li i {
    padding-left: 5px;
}

.container {
    margin: auto;
    max-width: 1100px;
}

.sm-container {
    margin: auto;
    max-width: 960px;
}

.logo {
    width: 250px;
    text-decoration: none;
}

ul.menu {
    list-style-type: none;
    display: flex;
    padding-inline-start: 0px;
}

ul.menu .left {
    padding-right: 20px;
}
ul.menu .right {
    padding-left: 20px;
}

.hero {
    background-color: #EAC926;
}

.hero-wrapper {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    padding: 20px 0;
}

.hero-wrapper-menu {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    padding: 20px 0;
}

.form-flex{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;

}
.hero-search {
    margin: 0px;
}

.hero-search-imput {
    width: 280px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    float: left;
}
.hero-search-imput:focus {
    color: #666666;
}

.hero-search__submit {
    margin: 0px;
    padding: 10px 4px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ffffff;
    color: #999999;
}

.hero-menu {
    color: #666666;
    text-decoration: none;
}

.hero__burger-menu {
    display: none;
    background-color: #1259c3;
    color:#ffffff;
    width:25px;
    height: 25px;
    padding: 5px;
    font-size: 2em;
    border-radius: 6px;
    margin: auto;
}

.banner-home{
    display: block;
    margin-bottom: 60px;
}
.banner-home img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h2.title-home {
    font-size: 24px;
}

#ultimas {
    padding-bottom: 20px;
}

#ofertas {
    margin-bottom: 40px;
}

.products-container {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    margin-bottom: 10px;
}

.product {
    background-color: #ffffff;
    width: 23%;
    display: flex;

	flex-wrap: wrap;
	justify-content: space-between;
    margin-bottom: 28px;
    height: 310px;
    transition: all .3s ease-in-out;
}

.product:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
}

.product-price {
    display: flex;
    align-items: center;
    border-top: 1px solid #ebebeb;
    position: relative;
    width: 100%;
}

.product-delivery {
    position: absolute;
    top: -30%;
    right: 10%;
    overflow: hidden;
    transition: transform .3s ease-in-out;
}

.product-delivery:hover {
        transform: rotate(360deg);
}

.product-delivery-icon {
    color: #39b54a;
    font-size: 16px;
    padding: 9px 7px;
    border: solid 1px #39b54a ;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img {
    width: 100%;
    object-fit: cover;
}

.product-name {
    font-size: 16px;
    padding: 0 0 10px 30px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.product:hover .product-name{
    opacity: 1;
}

.price {
    font-size: 18px;
    padding-left: 30px;
}

.discounts {
    font-size: 16px;
    color: #39b54a;
    padding-left: 10px;
}

.register {
    padding: 60px 0 40px 0;
}

.footer-wrapper {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
}

.footer-widget {
    text-align: center;
    color: #666666;
    padding-bottom: 15px;
    width: 31%;
}

.footer__icon {
    color:#1259c3;
    font-size: 2em;
    padding-bottom: 10px;
}

.footer-widget p {
    margin: 0px;
    line-height: 18px;
}

.copyright {
    text-align: center;
    padding: 5px 0 5px 0;
}

/* ----- MEDIA QUERIES-----*/

/* -Containes 1100 px- */
@media only screen and (max-width: 1100px) {
    .container {
        padding: 0 20px;
    }
    .hero-wrapper {
        padding: 20px !important;
    }
    .hero-wrapper-menu {
        padding: 20px !important;
    }
}

/* -Tablet- */
@media only screen and (max-width: 768px) {
    .hero-search-imput {
        width: 180px;
    }
    .product {
        width:48% !important;
        height: 420px;
    }
    .product-name {
        padding-bottom: 15px;
    }
    footer{
        padding: 20px 20px;
    }
}


/* -Mobile- */
@media only screen and (max-width: 480px) {
    .hero {
        padding-bottom: 20px;
    }
    .hero-wrapper {
        display: flex;
        flex-direction: column;   
        align-items: center;
        align-content: center;
        padding: 20px 0;
    }
    .logo {
        width: 210px;
        padding-bottom: 20px;
    }
    .hero-search {
        width: auto;
        padding-bottom: 10px;
    }
    .hero-wrapper-menu {
        display: none;
    }
    .hero__burger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product {
        width:100% !important;
        height: 420px;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .footer-widget {
        width: 100%;
    }
    footer {
        padding: 20px 0 5px 0;
    }
}